:root {
	/* --h-color-back: rgba(223, 103, 33, 0.198); */
	--h-color-back: linear-gradient(90deg, rgba(83, 83, 83, 0.1) 20%, rgba(223, 103, 33, 0) 60%);
}

html {
	min-height: 100%;
}

body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgb(59, 50, 43);
}

body {
	margin: 0 auto;

	width: 90%;
	max-width: 1024px;
	min-height: 100.0528vh;
	position: relative;

	background-color: rgb(226, 226, 226);
}

menu {
	padding: 120px 60px 600px; 

	width: 100%;
	min-height: 100.0528vh;

	background-color: rgb(236, 236, 236);
	position: relative;
}

.section_content {
	margin: 0 0 0 .35em;
	padding: 1.5em 0 0 2em;
	border-left: solid rgba(0, 0, 0, 0.157) 1px;

	position: relative;
}

/* Inicio head */

header {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;

	width: 100%;
	height: 70px;

	background: rgb(22, 22, 22);

	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 8px 20px -2px rgb(107, 103, 103);
}

	header p,
	footer p {
		margin: 0 0 0 5em;

		width: calc(100% - 5em);

		font-size: 28px;
		font-weight: bold;
		color: rgb(233, 233, 233);
	}

	header p span,
	footer p span {
		margin: 0 5em 0 0;
		float: right;
		color:rgb(226, 169, 77);
	}

/* Fin head */


h1 {
	margin-left: -0.3em;
	padding-left: 0.3em;

	padding-bottom: 0.25em;
	border-bottom: solid #c3c3c3 1px;

	background: var(--h-color-back);
	border-start-start-radius: 0.3em;
	border-end-start-radius: 0.3em;

}

	h1::before {
		content: "• ";
		color: rgb(233, 49, 17);
	}

h2 {
	margin-left: -0.3em;

	padding: 0.15em 0em 0.25em calc(0.3em + 0.7em);

	border-bottom: solid #c3c3c3 1px;
	font-size: 1.8em;
	background: var(--h-color-back);
	border-start-start-radius: 0.3em;
	border-end-start-radius: 0.3em;

	position: relative;

}

	h2::after,
	h3::after {
		content: "";

		width: 1px;
		height: calc(16px * 1.5);

		background-color: #c3c3c3;

		position: absolute;
			top: calc(-16px * 1.5);
			left: calc((16px * 0.35) + (16px * 1.8 * 0.3));

		z-index: 2;
	}

	h3::after {
			left: calc((16px * 0.25) + (16px * 1.8 * 0.3));
	}

h3 {
	margin-left: -0.3em;
	padding: 0.35em 0 0.5em 0.3em;

	border-bottom: solid #c3c3c3 1px;
	border-start-start-radius: 0.3em;
	border-end-start-radius: 0.3em;
	background: var(--h-color-back);

	font-size: 1.5em;
	position: relative;
}

	h3::before {
		content: "# ";
		color: rgb(233, 49, 17);
	}

h2, h3 {
	margin-top: calc(calc(16px * 1.5));
}

h4 {
	font-weight: 700;

	margin: 0 0 1em;
	font-size: 20px;
}

	h4::before {
		content: "";
	}

span {
	font-size: 0.85em;
	font-weight: 400;
}

	.span_h::before {
		content: "| ";
		font-size: 1.2em;
	}

menu p, li{
	margin: 0 0 1em;
	font-size: 18px;
}

menu blockquote {
	padding: 1em 1em 1em 2em;
	margin: 0 0 1em 1em;

	background: rgba(0, 0, 0, 0.05);
	font-style: italic;

	position: relative;
	border-radius: 0.3rem;

	overflow: hidden;
}

menu blockquote::before {
	content: '';

	width: 0.3em;
	height: 100%;

	position: absolute;
		top: 0;
		left: 0;

	background: rgba(0, 0, 0, 0.1);
}

	menu blockquote a {
		margin: -.5em 0 0 1em;
		width: auto;
		display: block;

		text-decoration: none;
	}

menu a,
menu a:visited {
	color: rgb(141, 141, 141);
}

pre code {
	line-height: 140%;
}

/*  */

.container_code pre{
	margin: 0 0 1em;
	overflow:visible;
}

	.container_code * {
		font-family: monospace, 'Courier New', Courier;
		font-size: 16px;

		tab-size: 4;

		border-radius: 0.3em;

	}

li {
	margin-left: 2em;
	margin-bottom: .5em;
}

li:last-child {
	margin-bottom: 1em;
}

/* Linux Code */


.linux_code::before {
	content: "$ ";
	color:#28cf70;
}

/* details */

details > summary {
	outline: none;

	position: relative;
	cursor: pointer;
	user-select: none;
	}

details > summary::before {
	content: "▼";
	color: rgb(233, 49, 17);

	font-size: 1em;

	position: absolute;
		top: calc(50% - 0.7em);
		left: 0;

	animation-name: markerRotateOut;
	animation-duration: 200ms;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

details details > summary::before {
	content: "▼";
	animation: none;
}

	details details > summary h3::before {
		visibility: hidden;
	}

details details[open] > summary::before {
	content: "";
}

	details details[open] > summary h3::before {
		visibility: visible;
	}

summary::marker {
	content: "";
}

/* Open */

details[open] > summary::before {
	content: "▼";
	
	animation-name: markerRotateIn;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-fill-mode: both;
}


@keyframes markerRotateIn {
	0% {
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes markerRotateOut {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

/*  */

figure {
	margin: 0 auto 1em;

	width: 70%;
	overflow: hidden;

	border-radius: 0.3em;
}

figure img {
	width: 100%;
	height: 100%;
	background: white;
	
	object-fit: cover;

	display: block;
}

.white_border_img {
	border: solid #FCFCFC 15px;
}

figure figcaption {
	text-align: right;
	color: rgb(168, 168, 168);
	font-size: 0.9rem;
	width: 100%;
}


@media screen and (max-width: 1024px){
	menu {
		padding-top: 150px;	
	}

	header {
		min-height: 100px;
		height: auto;
	}

	header p {
		margin: 0;
		padding: 16px 12px;
		width: 100%;
		text-align: center;
	}

	header p span {
		margin: 0;
		display: block;
		
		float: inherit;
	}

	body {
		width: 100%;
	}

	menu {
		padding-left: 2em;
		padding-right: 2em;
	}



	.section_content {
		padding-left: 0;
		margin-left: 0;

		border: none;
	}

	h1, h2, h3 {
		padding-left: 1em;
		padding-right: 1em;
		margin-left: -32px;
		margin-right: 0;
		width: calc(64px + 100%);

		border-radius: 0;
		background: rgba(83, 83, 83, 0.1);
	}

		h1 {
			font-size: 24px;
		}

		h2, h3 {
			font-size: 20px;
		}

	h1::after,
	h2::after,
	h3::after {
		display: none;
	}


	details > summary > h2 {
		padding-left: 38px;
	}
	

	details > summary::before {
		content: "▼";

		position: absolute;
			top: calc(0.7em);
			left: -13px;
	}

	.section_content figure {
		width: 100%;
		display: inline-block;
		line-height: 0%;
	}

}

@media print {

	menu {
		padding-top: 150px;	
	}

	header {
		min-height: 100px;
		height: auto;
		box-shadow: none;

		background: rgb(143, 143, 143);
	}

	header p {
		margin: 0;
		padding: 16px 12px;
		width: 100%;
		text-align: center;
	}

	header p span {
		margin: 0;
		display: block;
		
		float: inherit;
	}

	body,
	menu,
	main,
	html {
		background-color: white;
	}

	h1, h2, h3, h4, h5,
	p, span {
		color: black;
	}

}

/* footer */

footer {
	position: absolute;
	bottom: 0;
	left: 0;

	z-index: 1;

	width: 100%;
	height: 70px;

	background: rgb(22, 22, 22);

	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0px 8px 20px -2px rgb(107, 103, 103);
}

/* Inicio del código de la actividad */