body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgb(59, 50, 43);
}

html {
	height: 100%;
}

body {
	margin: auto;

	height: 85%;
	max-height: 1024px;
}

	#main_body {
		width: 60%;
		min-height: 100%;
	}

h1 {
	margin: 0 0 0.75em;
	padding-bottom: 0.25em;
	border-bottom: solid rgba(0, 0, 0, 0.157) 1px;
}

	h1::before {
		content: "• ";
		color: rgb(233, 49, 17);
	}

h2 {
	margin: 0 0 0.8em;
	padding-bottom: 0.2em;

	border-bottom: solid rgba(0, 0, 0, 0.157) 1px;
	font-size: 28px;
}

	h2::before {
		content: "# ";
		color: rgb(233, 49, 17);
	}

span {
	font-size: 0.85em;
	font-weight: 400;
}

	.span_h::before {
		content: "| ";
		font-size: 1.2em;
	}

p {
	margin: 0 0 1em;
	font-size: 24px;
}

/*  */

menu {
	padding: 50px 60px; 

	width: 100%;
	min-height: 100%;
	height: 100%;
	background-color: rgb(236, 236, 236);
}

.container_code pre{
	margin: 0 0 1em;
	overflow:visible;
}

	.container_code * {
		font-family: monospace, 'Courier New', Courier;
		font-size: 22px;

		tab-size: 4;

		border-radius: 0.3em;

	}


	/* Inicio del código de la actividad */