body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:rgb(59, 50, 43);
}

html {
	min-height: 100%;
}

body {
	margin: auto;

	min-height: 100%;
	width: 90%;
	max-width: 1024px;

	background-color: rgb(226, 226, 226);
}

h1 {
	padding-bottom: 0.25em;
	border-bottom: solid rgba(0, 0, 0, 0.157) 1px;
}

	h1::before {
		content: "• ";
		color: rgb(233, 49, 17);
	}

h2 {
	padding-bottom: 0.25em;
	border-bottom: solid rgba(0, 0, 0, 0.157) 1px;
	font-size: 1.8em;

}

	h2::before {
		content: "• ";
		color: rgb(233, 49, 17);
	}

h3 {
	padding: 0.25em 0 0.5em;

	border-bottom: solid rgba(0, 0, 0, 0.157) 1px;
	font-size: 1.5em;
}

	h3::before {
		content: "# ";
		color: rgb(233, 49, 17);
	}

span {
	font-size: 0.85em;
	font-weight: 400;
}

	.span_h::before {
		content: "| ";
		font-size: 1.2em;
	}

p {
	margin: 0 0 1em;
	font-size: 18px;
}

/*  */

menu {
	padding: 50px 60px; 

	width: 100%;
	min-height: 100%;
	background-color: rgb(236, 236, 236);
}

.container_code pre{
	margin: 0 0 1em;
	overflow:visible;
}

	.container_code * {
		font-family: monospace, 'Courier New', Courier;
		font-size: 16px;

		tab-size: 4;

		border-radius: 0.3em;

	}

.section_content {
	margin: 0 0 -0.05em .35em;
	padding: 1.5em 2em 0.05em 2em;
	border-left: solid rgba(0, 0, 0, 0.157) 1px;
}

	/* Inicio del código de la actividad */